.canvasWrapper {
    height: 100vh;
    background: #fff;
    background-image: linear-gradient(rgba(220, 220, 220, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(220, 220, 220, .7) .1em, transparent .1em);
    background-size: 3em 3em;
}

.graphWrapper {
    border-radius: 5px;
    border-color: rgba(220, 220, 220, .7);
    border-style: solid;
    border-width: .1em;
}

.srd-port {
    width: 0;
    height: 0;
}

.ant-card-body {
    height: 100%
}

.editor {
    display: block;
    width: 100%;
    height: 800px;
    background: #fff;
}

.editorHd {
    padding: 8px;
    border: 1px solid #e6e9ed;
}

.editorBd {
    width: 100%;
}

.editorSidebar,
.editorContent {
    display: flex;
    flex-direction: column;
}

.editorSidebar {
    background: #fafafa;
}

.editorSidebar:first-child {
    border-right: 1px solid #e6e9ed;
}

.editorSidebar:last-child {
    border-left: 1px solid #e6e9ed;
}

.flow,
.mind,
.koni {
    flex: 1;
}