.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
    background-color: rgba(0,0,0,.025);
}

.sider {
    box-shadow: 2px 0 8px 0 rgba(29,35,41,.05);
    min-height: 100vh;
}

.ant-layout-side {
  background-color: #fff;
}

.ant-card-body {
    height: 100%
}